.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.container-list {
  margin-top: 10%
}

#intro {
  font-family: 'Cormorant Garamond';
  border-bottom: 3px solid 	#B8860B;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 3px;
  text-align: center;
  text-indent: 24px;
  text-transform: uppercase;
  color: white;
  background-color: lightblue
}

.drop-down {
  width: 100%;
  color: black;
}

.page-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
